.ilnamiqui/
longhornctl

# Ansible local overrides
ansible/inventory/homelab/vars/local.yml
ansible/inventory/homelab/hosts.ini
ansible/inventory/homelab/host_vars/docker-host.yml

# Ansible cache
.ansible/
.opencode/
AGENTS.md


# terraform
*.tfstate*
.terraform/
!terraform_example.tfvars