frontend k3s-frontend
    bind *:{{ haproxy_port }}
    mode tcp
    option tcplog
    default_backend k3s-backend

backend k3s-backend
    mode tcp
    option tcp-check
    balance roundrobin
    default-server inter 10s downinter 5s
{% for host in groups['masters'] %}
    server {{ hostvars[host]['inventory_hostname'] }} {{ hostvars[host]['ansible_host'] }}:{{ haproxy_port }} check
{% endfor %}
